.product-image {
    max-width: 50%; /* Настройте размер по вашим нуждам */
    height: auto; /* Сохраняет пропорции */
    display: block;
    margin: 0 auto; /* Центрирует изображение */
}

.product-info {
    margin-left: 20px; /* Настройте отступ от левой стороны */
    /* Другие стили по необходимости */
}
