{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<div class="col">
    <a class="btn btn-outline-primary" href="{% url 'catalog:blog_create' %}">Добавьте статью</a>
</div>
<h1 class="fw-light">Наши статьи</h1>
<p class="lead text-body-secondary">Здесь Вы можете увидеть все статьи и добавить свою</p>

{% for object in object_list %}
<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0">
            <img class="card-img-top" src="{{ object.preview|mediapath }}" alt="">
            <p class="display-4 fst-italic">{{ object.name }}</p>
            <p class="lead my-3">{{ object.content|truncatewords:30 }}</p>
            <div class="card-footer">
                <small class="text-muted">Опубликовано: {{ object.date_of_creation }}</small>
                <div class="btn-group">
                    <a href="{% url 'catalog:blog_view' object.pk %}"
                       class="btn btn-outline-secondary">Подробнее</a>
                    <a href="{% url 'catalog:blog_edit' object.pk %}"
                       class="btn btn-outline-secondary">Редактировать</a>
                    <a href="{% url 'catalog:blog_delete' object.pk %}"
                       class="btn btn-outline-secondary">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}
