{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-12">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Добавьте свою статью</h4>
        </div>
        <div class="card-body">
            <form method="post" action="" class="form-floating">
                {% csrf_token %}
                <p>Вы уверены, что хотите удалить статью "{{ object.name }}"?</p>
                <button type="submit" class="btn btn-danger">Удалить</button>
                <a href="{% url 'catalog:blog_list' %}" class="btn btn-warning">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}